<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">
    <!-- Propeller Card -->
    <div class="container-fluid" style="margin-top: 100px">
        <div class="col-sm-2"></div>
        <div class="col">
            <div class="card pmd-card col-sm-6 mx-auto" style="margin-bottom: 30px;">
                <div class="card-body d-flex flex-row">
                    <!-- 유저 이미지-->
                    <a th:href="@{'/user/profile/' + ${post.getUserId()}}">
                        <img src="#" th:src="${post.getUserPicture()}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                    </a>
                    <div>
                        <!-- 유저 이름-->
                        <a th:href="@{'/user/profile/' + ${post.getUserId()}}">
                            <h4 class="card-title font-weight-bold mb-2" th:text="${post.getUserName()}">User Name</h4>
                        </a>
                        <!-- 게시글 생성일 -->
                        <p class="card-text"><i class="far fa-clock pr-2"></i><span th:text="${post.getCreatedDate()}"></span></p>
                    </div>
                </div>

                <!-- 글 이미지 & 내용 -->
                <div class="pmd-card-media">
                    <img th:src="${post.getPicture()}" src="#" width="1184" height="666" class="img-fluid" alt="main image">
                    <span th:if="${post.getLikeIdList().contains(session.loginUser.getId())}">
                        <a th:href="@{'/likes/delete/'+${post.getPostId()} + '&' + ${session.loginUser.getId()}}"><img th:src="@{/icon/redHeart.png}" src="#" style="height: 20px; width: 20px;"> </a>
                        <span th:text="${post.getLikeIdList().size()}"></span>
                    </span>
                    <span th:unless="${post.getLikeIdList().contains(session.loginUser.getId())}">
                        <a th:href="@{'/likes/save/'+${post.getPostId()} + '&' + ${session.loginUser.getId()}}"><img th:src="@{/icon/emptyHeart.png}" src="#" style="height: 20px; width: 20px;"></a>
                        <span th:text="${post.getLikeIdList().size()}"></span>
                    </span><br>
                    <h2 class="card-title" th:text="${post.getSinger()} + ' - ' + ${post.getSongName()}">Title goes here</h2>
                    <p class="card-text" th:text="${post.getContent()}"></p>

                    <span class="text-left">
                        <a th:href="${youtubeLink}" th:target="_blank">
                            <img th:src="@{/icon/youtube.png}" alt="유튜브 링크" width="40" height="40">
                        </a>
                    </span>
                    <div class="text-right" style="margin-bottom: 30px">
                        <span th:if="${session.loginUser.getId()}==${post.getUserId()}">
                            <a th:href="@{'/post/update/'+${post.getPostId()}}"><button class="btn btn-secondary">수정하기</button></a>
                            <a th:href="@{'/post/delete/'+${post.getPostId()}}"><button class="btn btn-warning">삭제하기</button> </a>
                        </span>
                    </div>
                </div>

                <!-- 댓글 목록 보여주기 -->
                <div class="card-footer">
                    <div th:each="comment:${commentsList}" style="margin-bottom: 10px">
                        <div>
                            <a th:href="@{'/user/profile/' + ${comment.getUserId()}}">
                                <img th:src="${comment.getUserPicture()}" src="#" class="rounded-circle mr-3" height="20px" width="20px" alt="프로필이미지"/>
                                <h5 th:text="${comment.getUserName()}"></h5>
                            </a>
                            <span th:text="${comment.getComment()}"></span>
                            <div class="text-right">
                                <span th:if="${comment.getUserId()}==${session.loginUser.getId()}">
                                    <a th:href="@{'/comment/delete/' + ${comment.getCommentId()} + '&' + ${post.getPostId()}}" th:text="삭제하기"></a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- 댓글 작성란 -->
                    <form th:object="${commentDto}" action="#" th:action="@{'/comment/write/' + ${post.getPostId()} + '&' + ${session.loginUser.getId()}}" method="post" class="form-group">
                        <div class="form-group">
                            <label>댓글 작성</label>
                            <input th:field="*{comment}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">댓글작성하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</th:block>
</html>