<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content">

    <!-- Propeller Card -->
    <div class="container-fluid" style="margin-top: 100px">
        <div class="container mx-auto col-sm-4">
            <span th:if="${userId}==${session.loginUser.getId()}">
                <a th:href="@{'/user/update/' + ${userId}}"><button class="btn btn-secondary">회원정보수정</button> </a>
                <a th:href="@{'/user/delete/' + ${userId}}"><button class="btn btn-warning">회원탈퇴</button> </a>
            </span>
        </div>
        <div class="row">
            <div class="col">
                <div class="card pmd-card col-sm-4  mx-auto" style="margin-bottom: 30px;"  th:each="post : ${postsList}" >
                    <div class="card-body d-flex flex-row">
                        <!-- Avatar -->
                        <a th:href="@{'/user/profile/' + ${post.getUsers().getId()}}">
                            <img src="#" th:src="@{'/uploads/profile/' + ${post.getUsers().getPicture()}}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                        </a>
                        <!-- Content -->
                        <div>
                            <!-- Title -->
                            <a th:href="@{'/user/profile/' + ${post.getUsers().getId()}}">
                                <h4 class="card-title font-weight-bold mb-2" th:text="${post.getUsers().getName()}">User Name</h4>
                            </a>
                            <!-- Subtitle -->
                            <p class="card-text"><i class="far fa-clock pr-2"></i><span th:text="${post.getCreatedDate()}"></span></p>
                        </div>
                    </div>

                    <!-- Card Media -->
                    <div class="pmd-card-media">
                        <img th:src="@{'/uploads/post/' + ${post.getPicture()}}" src="#" width="1184" height="666" class="img-fluid" alt="main image">
                    </div>

                    <!-- Card Body -->
                    <div class="card-body">
                        <h2 class="card-title" th:text="${post.getSongName()}">Title goes here</h2>
                        <p class="card-subtitle mb-3" th:text="${post.getSinger()}">Secondary text</p>
                        <p class="card-text" th:text="${post.getContent()}"></p>
                    </div>
                    <div class="text-right">
                        <a th:href="@{'/post/read/' + ${post.getId()}}"><button class="btn btn-primary">더보기</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>