<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="navbarFragment">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-lg">
        <a class="navbar-brand " th:href="@{/}"><img th:src="@{/icon/song.png}" width="30" height="30" class="d-inline-block align-top"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${session.loginUser!=null}" >
                    <a th:text="${session.loginUser.getName()}"> </a>
                    <img th:src="@{${'/images/' + session.loginUser.getPicture()}}" alt="프로필이미지" style="width: 30px; height: 30px;" src="#">
                </li>
                <li class="nav-item" th:if="${session.loginUser!=null}" >
                    <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item" th:if="${session.loginUser==null}" >
                    <a class="nav-link" th:href="@{/user/login}">로그인</a>
                </li>
                <li class="nav-item" th:if="${session.loginUser==null}" >
                    <a class="nav-link" th:href="@{/user/signIn}">회원가입</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End of navbar -->

</th:block>
</html>