<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <span th:if="${session.loginUser}">
            <li><a th:href="@{/login}">로그인</a> </li>
            <li><a th:href="@{/singIn}">회원가입</a> </li>
<!--            <li th:if="${session.loginUser!=null}" ><a th:text="${session.loginUser.getName()}">이름</a> </li>-->
        </span>
        <button class="btn btn-danger">버튼</button>
    </div>
</th:block>
</html>