<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1>로그인</h1>
        <a href="/oauth2/authorization/google">구글로그인</a>
        <p th:text="${userName}">userName</p>
        <img th:src="${userPicture}"/>
        <a href="/logout">로그아웃</a>
        <button class="btn btn-danger">버튼</button>
    </div>
</th:block>
</html>